html, body{
    height:100%;
    
}

div div{
    color: white;
    grid-column: 1/3;
    grid-row: 2;
    border:solid white 5px;
    background-color: lightgray;
    
    
}
div{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:5px;
    padding:30px 30px 30px 30px;
    height:50%;

    
    
    
    
}

h1{
    grid-column: 1/4;
    grid-row:1;
    background-color: lightgray;
    
}

article{

    grid-column: 1/2;
    grid-row: 3;
    border:solid white 5px;
    background-color: lightgray;
}

aside{

    grid-column: 3/4;
    grid-row: 3;
    background-color: lightgray;

}

Footer{
    grid-column: 1/3;
    grid-row: 4;
    border:solid white 5px;
    background-color: lightgray;
}